.search-bar{
    
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    padding: 5px;
    color: grey;
    box-shadow: 0 10px 5px  rgba(138, 135, 135, 0.15);
    display: block;
}

.videos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6px;
    row-gap: 10px;
}


.video-preview{
    width: 375px;
    margin-right: 10px;
    margin-bottom: 30px;
    vertical-align: top;
}
.video-preview .thumbnail
{
    width: 100%; /*to take up the entire space in its container*/
    border-radius: 10px;
}

.under-thumbnail{
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap:10px;
}

.actual_channel_img{
    border-radius: 50px;
    width: 100%;
}

.video-details p.video-title{
    font-weight: bold;

}
.video-details p.channel-name{
    font-size: 0.7em;
    color:grey;
    margin-top: 5px;
}
.video-details p.video-stats{
    font-size: 0.7em;
    color:grey;
}
p{
    
    margin-top: 0;
    margin-bottom: 0;

}