
.videos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6px;
    row-gap: 10px;
}


.video-preview{
    width: 375px;
    margin-right: 10px;
    margin-bottom: 30px;
    vertical-align: top;
}
.video-preview .thumbnail_img
{
    width: 100%; /*to take up the entire space in its container*/
    border-radius: 10px;
}
.thumbnail{
    position: relative;
}
.video-time{
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    padding: 3px;
    font-family: Roboto, Ariel;
}

.under-thumbnail{
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap:10px;
}

.actual_channel_img{
    border-radius: 50px;
    width: 100%;
}

.video-details p.video-title{
    font-weight: bold;

}
.video-details p.channel-name{
    font-size: 0.7em;
    color:grey;
    margin-top: 5px;
}
.video-details p.video-stats{
    font-size: 0.7em;
    color:grey;
}
p{
    
    margin-top: 0;
    margin-bottom: 0;

}

